.ms-bg-header{
    background-color: #2C3E51;
}

.ms-bg-green{
    background-color: #1ABC9C;
}

.ms-bg-footer{
    background-color: #3A546C;
}

.ms-text-green{
    color: #1ABC9C;
}

.ms-bg-rgba{
    background-color: rgba(0, 0, 0, 0.2);
}